<!DOCTYPE html>
<html>
<head>
    <title>Ejemplo app spring</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: black; color: white;">
    <div><p>Logrado con exito :D</p></div>
    <h1>Tabla de Números Aleatorios</h1>
    <table border="1" style="background-color: white;">
        <tr>
            <th style="background-color: black; color: white;">Columna 1</th>
            <th style="background-color: black; color: white;">Columna 2</th>
            <th style="background-color: black; color: white;">Columna 3</th>
        </tr>
        <tr>
            <td style="color: black;">45451</td>
            <td style="color: black;">54877</td>
            <td style="color: black;">59894</td>
        </tr>
        <tr>
            <td style="color: black;">5596</td>
            <td style="color: black;">999</td>
            <td style="color: black;">555</td>
        </tr>
        <tr>
            <td style="color: black;">46565</td>
            <td style="color: black;">55485</td>
            <td style="color: black;">359659</td>
        </tr>
    </table>
</body>
</html>
